/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;

}

/******************************************
/* LAYOUT
/*******************************************/
body {  
  padding: 50px;
  width: 100vw;
}

.player {
  display: flex;
}

.zombies {
  height: 400px;
  margin-bottom: 25px;
  position: relative;
}

.zombie {
  width: 100px;
  height: 70px;
}

#mjZombie,
#mjZombieImg {
  width: 90px;
  height: 65px;
  position: absolute;
  top: 160px;
  right: 0;
}

#target2 {
  position: absolute;
  top: 160px;
  right: 40px;
  z-index: 1;
}

#jumpingZombie {
  height: 100px;
}

#jumpingZombie,
#jumpingZombieImg {
  position: absolute;
  left: 515px;
  top: 0;
}

#target3 {
  position: absolute;
  left: 550px;
  top: 20px;
  z-index: 1;
}

#regularZombie,
#regularZombieImg {
  position: absolute;
  bottom: 5px;
  left: 50px;
}

#target1 {
  position: absolute;
  bottom: 25px;
  left: 70px;
  z-index: 1;
}

#regularZombieImg {
  width: 60px;
}

.plant img {
  width: 50px;
  padding: 10px 0;
}

.plants {
  padding: 50px 100px;
  display: flex;
  justify-content: center;
}

.plant {
  width: 100px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

.plant img,
.gif img {
  height: 70px;
}

.choices {
  width: 75%;
  height: 200px;
}

.current {
  width: 25%;
}

h2 {
  padding-right: 50px;
}

#status {
  font-size: 5rem;
  color: white;
}

#aim {
  background:  rgb(188, 133, 85);
  border: 5px solid rgb(126, 75, 31);
  color: white;
  text-align: center;
  width: 200px;
  font-size: 3rem;
  padding: 10px 0;
  position: absolute;
  left: 470px;
  top: 250px;
  margin: 0 auto;
}

#aim:hover {
  background:  rgb(172, 103, 42);
  border: 5px solid rgb(216, 185, 157);
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body {
  background: rgb(188, 133, 85);
}

.plants {
  border: 10px solid rgb(126, 75, 31);
  background: rgb(225, 181, 143);
}

.choices {
  border-right: none;
}

.zombies {
  border: 10px solid rgb(126, 75, 31);
  background: url('../img/yard.png');
  background-size: contain;
}

.selected {
  background:  rgb(181, 146, 116);
  border: 2px solid rgb(239, 220, 204);
}

.hidden {
  display: none;
}

.redTargetCursor {
  cursor: url('../img/redTarget.png'), auto;
}

.blueTargetCursor {
  cursor: url('../img/blueTarget.png'), auto;
}

.frozen {
  background: rgba(148, 198, 242, 0.9);
  opacity: 0.8;
  height: 60px;
}

